This is a Data Analysis portfolio of J.W. Duff.

Purpose of this portfolio is to display my understanding/knowledge of Machine Learning methods in the Python/Jupyter and R-Studio environments.
This portfolio is part of the requirements of UT's Data Analytics certification course which I am currently attending (Feb 2022 - August 2022)

Relevent Experience:

Seven years as Data Analyst for ExxonMobil Corporation along with my education and 30 years professional experiance has given me strong analystical skills including:
  •	Exploratory Data analysis and insight development.
  •	Data wrangling, visualization, and communication via Excel and Powerpoint.
  •	Data Statistical analysis via JMP statistical software.
  •	Overseeing development of Tableau data visualizations for internal clients.
  •	Communication of data findings to upline management and across organizations.
  •	Cross functional collaboration while developing new metrics and reporting formats.
  •	Ability and flexibility to learn new technology, software languages, and applications.
  
I also have an understanding of predictive modeling and machine learning in Python and R via above referenced course

I have a total of 30 years professional work experience with ExxonMobil Corporation.  Retired early to be closer to family and pursue a secondary career in Data Analytics

Education:

•	Master in Business Administration: University of Houston, May 1996
•	Bachelors of Science in Mechanical Engineering: The University of Texas at Austin, Dec. 1987
